<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>safetyCheck</key>
    <array>
        <dict>
		<name>开工前安全生产条件核查表</name>
		<array>
			<string>建设单位—-平安工地考核评价表</string>
			<string>建设单位—-建设单位考核评价表</string>
			<string>建设单位—-开工前安全生产条件核查表</string>
			<string>监理单位—-考核评价表</string>
			<string>施工单位—-基础管理考核评价表</string>
			<string>施工单位—-施工现场考核评价表</string>
			<string>施工单位—-安全检查表</string>
		</array>
	</dict>
	<dict>
		<name>开工前安全生产条件核查表</name>
		<array>
			<string>建设单位—-平安工地考核评价表</string>
			<string>建设单位—-建设单位考核评价表</string>
			<string>建设单位—-开工前安全生产条件核查表</string>
			<string>监理单位—-考核评价表</string>
			<string>施工单位—-基础管理考核评价表</string>
			<string>施工单位—-施工现场考核评价表</string>
			<string>施工单位—-安全检查表</string>
		</array>	</dict>
	<dict>
		<name>开工前安全生产条件核查表</name>
		<array>
			<string>建设单位—-平安工地考核评价表</string>
			<string>建设单位—-建设单位考核评价表</string>
			<string>建设单位—-开工前安全生产条件核查表</string>
			<string>监理单位—-考核评价表</string>
			<string>施工单位—-基础管理考核评价表</string>
			<string>施工单位—-施工现场考核评价表</string>
			<string>施工单位—-安全检查表</string>
		</array>	</dict>
        <dict>
               <name>开工前安全生产条件核查表</name>
		<array>
			<string>建设单位—-平安工地考核评价表</string>
			<string>建设单位—-建设单位考核评价表</string>
			<string>建设单位—-开工前安全生产条件核查表</string>
			<string>监理单位—-考核评价表</string>
			<string>施工单位—-基础管理考核评价表</string>
			<string>施工单位—-施工现场考核评价表</string>
			<string>施工单位—-安全检查表</string>
		</array>
         </dict>
         <dict>
               <name>开工前安全生产条件核查表</name>
		<array>
			<string>建设单位—-平安工地考核评价表</string>
			<string>建设单位—-建设单位考核评价表</string>
			<string>建设单位—-开工前安全生产条件核查表</string>
			<string>监理单位—-考核评价表</string>
			<string>施工单位—-基础管理考核评价表</string>
			<string>施工单位—-施工现场考核评价表</string>
			<string>施工单位—-安全检查表</string>
		</array>
         </dict>
         <dict>
               <name>开工前安全生产条件核查表</name>
		<array>
			<string>建设单位—-平安工地考核评价表</string>
			<string>建设单位—-建设单位考核评价表</string>
			<string>建设单位—-开工前安全生产条件核查表</string>
			<string>监理单位—-考核评价表</string>
			<string>施工单位—-基础管理考核评价表</string>
			<string>施工单位—-施工现场考核评价表</string>
			<string>施工单位—-安全检查表</string>
		</array>
         </dict>
	</array>
    </dict>
</plist>
